// Spacing settings.

$spacing--xxxs: $font-size-base / 8;
$spacing--xxs: $font-size-base / 5;
$spacing--xs: $font-size-base / 3;
$spacing--s: $font-size-base / 2;
$spacing--m: $font-size-base;
$spacing--l: $font-size-base * 2;
$spacing--xl: $font-size-base * 3;
$spacing--xxl: $font-size-base * 5;
$spacing--xxxl: $font-size-base * 8;

$spacing: (
	xxxs: $spacing--xxxs,
	xxs: $spacing--xxs,
	xs: $spacing--xs,
	s: $spacing--s,
	m: $spacing--m,
	l: $spacing--l,
	xl: $spacing--xl,
	xxl: $spacing--xxl,
	xxxl: $spacing--xxxl,
);