// Typography settings.

// Base color
$body-color: $gray-800;

// Link color
$link-color: $gray-800;
$link-hover-color: $dark;

// navbar color
$navbar-light-color: $gray-800;
$navbar-light-hover-color: $dark;
$navbar-light-active-color: $dark;

// Base font
$font-size-base: 1.125rem;

// Headings
$h1-font-size: 2.8em;
$h2-font-size: 1.8em;
$h3-font-size: 1.5em;
$h4-font-size: 1.3em;
$h5-font-size: 1.2em;
$h6-font-size: 1.1em;

// Font families
$font-family-base: "Lato", sans-serif;
$font-family-alt: "PT Serif", serif;
$headings-font-family: "Lato", sans-serif;