////
/// Site container object.
///
/// @group  Objects
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.site-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	min-height: 100%;

	> * {
		width: 100%;
	}
}
