////
/// Site header object.
///
/// @group  Objects
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.site-header {
	position: relative;
	z-index: 10;
	color: $color--white;
	background-color: $color--black;

	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@include mq(m) {
			flex-wrap: nowrap;
		}
	}

	&.search-visible > .wrap > :not(.header-search-wrap) {
		opacity: 0;
	}
}
