// Site header object.

.site-header {
	color: $color--white;
	background-color: $color--black;

	.wrap {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@include mq(m) {
			flex-wrap: nowrap;
		}
	}

	&.search-visible > .wrap > :not(.header-search-wrap) {
		opacity: 0;
	}
}
