includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: max
	reportUnmatchedIgnoredErrors: false
	checkMissingIterableValueType: false
	checkMissingCallableSignature: false
	bootstrapFiles:
		- phpstan/constants.php
	excludePaths:
		analyseAndScan:
			- rector.php
			- dist/*
			- node_modules/*
		analyse:
			- vendor/*
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/php-stubs/genesis-stubs/genesis-stubs.php
		- vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
		- vendor/php-stubs/gravity-forms-stubs/gravity-forms-stubs.php
	paths:
		- .
	stubFiles:
		- phpstan/wp-query.stub
