// Custom variables.

// Buttons map.
//
// Adds to Bourbon buttons list.
$all-buttons: append($all-buttons, ".button");
$all-buttons: append($all-buttons, ".button.menu-item a");


// Headings map
$all-headings: (
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
);