// Author archive section.

.author {

	&-avatar {
		margin-bottom: $spacing--s;
		border: 5px solid rgba(0, 0, 0, 0.25);
		border-radius: 50%;

		.single & {
			max-width: 50px;
			margin-right: $spacing--s;
			margin-bottom: 0;
			border-width: 2px;
		}
	}

	&-social {
		display: inline-block;
		margin-right: $spacing--m;
		margin-bottom: $spacing--xs;
	}

	&-website {
		margin-bottom: $spacing--m;
		font-size: $font-size--h5;
	}

	&-view-more {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

}
