////
/// Avatar component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.avatar {
	float: left;
	margin-right: $spacing--m;
	border-radius: $base--border--radius;
}
