// Content component.

.content {
	width: 100%;

	@include margin($spacing--l null);

	@include mq(m) {

		@include margin($spacing--xl null);
	}

	.content-sidebar &,
	.sidebar-content & {

		@include mq(m) {
			width: $layout--width--content;
			max-width: $layout--max-width--content;
		}
	}

	.single-post.content-sidebar &,
	.single-post.sidebar-content & {

		@include mq(m) {
			width: $layout--width--post--content;
			max-width: $layout--max-width--post--content;
		}
	}

	.no-gallery.single-post.content-sidebar &,
	.no-gallery.single-post.sidebar-content & {
		width: 100%;

		@include mq(m) {
			width: 100%;
			max-width: 100%;
		}
	}

	.narrow-content & {

		@include margin(null auto);

		@include mq(m) {
			width: $mq-s;
		}
	}

	.sidebar-content & {

		@include mq(m) {
			order: 1;
		}
	}

	.full-width-content & {
	}

	.is-archive & {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}

	.has-heading-block & {
		margin: 0 auto;
	}

	.template-blocks & {
		margin: 0 auto;
	}

	.search & {
		margin-top: $spacing--m;

		@include mq(m) {
			border-left: 1px dotted $color--secondary;
		}
	}
}
