////
/// Entry component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.entry {

	.featuredpost &,
	.is-archive &,
	.search-results &
	.no-search-results & {
		margin-bottom: $gutter;
		border-radius: $base--border--radius;
		background-color: $color--white;
		text-align: center;

		&:last-of-type {

			@include mq($until: xs) {
				margin-bottom: 0;
			}
		}
	}

	// List view for taxonomies.
	.view-toggle-list & {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-start;
		border-bottom: 1px dotted $color--secondary;
		padding-bottom: $spacing--xs;
	}

	.search-results &,
	.search-no-results & {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	// Entry header.
	&-header {
	}

	// Entry title.
	&-title {

		.is-archive & {
			font-size: $font-size--h3;
			margin-bottom: $spacing--xs;
		}

		a {
			color: $color--text;
			text-decoration: none;

			@include hover-focus {
				border-bottom: 1px dotted $color--black;
				color: $color--primary;
				text-decoration: none;
			}
		}
	}

	// Entry artist.
	&-artist {
		color: $color--text;
		font-family: $font-family--alt;
		font-style: italic;
		text-decoration: none;

		.view-toggle-list & {
			font-family: $base--font-family;
			font-style: normal;
		}

		@include hover-focus {
			border-bottom: 1px dotted $color--black;
			color: $color--primary;
			text-decoration: none;
		}
	}

	// Entry separator.
	&-sep {
		display: inline-block;
		margin: 0 $spacing--s;

		p & {
			display: none;
		}

		.view-toggle-list p & {
			display: inline-block;
		}

		.search-results p &,
		.search-no-results p & {
			display: inline-block;
		}
	}

	// Entry user report.
	&-user {
		display: inline-block;
		margin-bottom: $spacing--s;
		width: 100%;
	}

	// Entry user report heading.
	&-user-heading {
		font-weight: $font-weight--bold;
		text-transform: lowercase;
		margin-right: $spacing--xs;
	}

	// Entry title link.
	&-title-link {
	}

	// Entry time.
	&-time {
	}

	// Entry author.
	&-author {
	}

	// Entry author link.
	&-author-link {
	}

	// Entry author name.
	&-author-name {
	}

	// Entry comments link
	&-comments-link {
	}

	// Entry meta.
	&-meta {
		font-size: smaller;
	}

	// Entry image link.
	&-image-link {
		display: block;

		.view-toggle-list & {
			display: inline-block;
			width: 100px;
		}

		img {
			min-width: 100%;
			border: 1px solid $color--border;
			box-shadow: $base--box-shadow;

			.search-results &,
			.search-no-results & {
				min-width: auto;
			}

			.view-toggle-list & {
				min-width: auto;
				max-width: 75px;
				width: 75px;
			}
		}
	}

	// Entry content.
	&-content {

		.is-archive & {
			display: flex;
			justify-content: center;
		}

		p {

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	// Entry footer.
	&-footer {
		display: none;

		.view-toggle-list & {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
			flex-grow: 1;
		}

		p {

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		a {
			.view-toggle-list & {
				text-decoration: none;
			}
		}
	}

	// Entry categories.
	&-categories {
	}

	// Entry tags.
	&-tags {
	}

	// Entry wrap.
	&-wrap {
		display: inline-block;
		padding: $spacing--s;
		width: 100%;

		.view-toggle-list & {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: flex-start;
			padding: 0;
		}
	}

	// Report archive.
	.report & {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-bottom: $gutter !important;
		border-bottom: 0 !important;
		border-top: 0 !important;
		border-left: 0 !important;
		border-width: 3px;
	}
}

// More link.
.more-link {
	font-family: $font-family--alt;
	font-style: italic;
	text-decoration: none;

	@include hover-focus {
		border-bottom: 1px dotted $color--black;
		text-decoration: none;
	}

	.single-post & {
		display: inline-block;
	}
}
