////
/// Footer credits component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.footer-credits {
	font-size: $base--font-size / $major-second;

	> .wrap {
		align-items: center;
		padding: $spacing--m 0;
	}

	p {
		margin-bottom: 0;
	}
}
