////
/// Footer credits component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.footer-credits {
	font-size: $base--font-size / $major-second;

	> .wrap {
		display: block;
		align-items: center;
		padding: $spacing--m 0;

		@include mq(m) {
			display: flex;
		}
	}

	p {
		margin-bottom: 0;
	}

	.copyright,
	.credits,
	.login {
		display: block;

		@include mq(m) {
			display: inline-block;
		}
	}
}
