// Header search component.

.header-search-wrap {
	display: none;
	position: relative;

	&:target {
		display: block;
		clear: both;
		position: relative;
	}

	input[type="search"] {
		margin-bottom: 0;
		padding-top: 0;
		padding-right: 100px;
		padding-bottom: 0;
		padding-left: 0;
		border: 0;
		color: $white;
		background-color: $black;
		font-size: $h3-font-size;
	}

	input[type="submit"] {
		clip: rect(0, 0, 0, 0);
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}

	input[type="submit"]:focus {
		right: 50px;
		margin-top: 1px;
		padding: 20px;
	}

	.js & {
		position: absolute;
		z-index: 1001;
		/* Show above the menu toggle button */
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: none;
		transform: translate3d(0, -100%, 0);

		.search-form,
		input[type="search"] {
			height: 100%;
		}
	}

	.search-visible & {
		transform: translate3d(0, 0, 0);
	}

}

.js .toggle-header-search.close:focus {
	outline: 0;
}

.toggle-header-search {
	background: transparent;

	&.close {
		position: absolute;
		z-index: 100;
		top: 20px;
		right: -20px;
		width: 30px;
		padding: 10px 20px;
		color: $white;
		transition: transform 0.2s ease-in-out;
		transform: translate3d(-35px, 0, 0);
	}

	.screen-reader-text:focus {
		outline: 0;
		background-color: transparent;
	}

	.header-search-wrap:target & {
		transform: none;
	}
}