////
/// Hero section component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

@mixin hero-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: $spacing--l 0;
	border-bottom: $base--border;
	background-position: center;
	background-size: cover;
	text-align: center;

	@include overlay;

	@include mq(m) {
		padding: $spacing--xl 0;
	}

	.wrap {
		display: inline-block;
		justify-content: center;
		position: relative;

		
	}

	h1 ,
	h2 {
		width: 100%;
		margin-bottom: 0;
		font-size: $font-size--h1;

		.author & {
			margin-bottom: $spacing--s;
		}
	}

	p {
		margin: $spacing--m auto 0;
		color: $color--secondary;
		font-family: $font-family--alt;
		font-style: italic;	

		@include mq(m) {
			max-width: $mq-xs;
		}
	}
}

.hero-section {

	@include hero-section;
}
