// Inline filter.

.inline-filter {
	margin-top: $gutter;

	li {
		display: inline-block;
		margin-right: $spacing--s;
		margin-bottom: $spacing--s;
		list-style-type: none;

		a {
			padding: $spacing--xxs $spacing--s;
			border: 1px solid $color--secondary;
			font-size: $font-size--h4;
			text-decoration: none;

			@include mq(m) {
				font-size: $base--font-size;
			}

			@include hover-focus {
				border-color: $color--black;
				color: $color--white;
				background-color: $color--black;
			}

		}

		&.current a {
			border-color: $color--black;
			color: $color--white;
			background-color: $color--black;
		}
	}
}
