// Menu toggle component.

.menu-toggle {
	background-color: transparent;
	border: 0;
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;

	@include media-breakpoint-up(md) {
		display: none;
	}

	.hamburger,
	.hamburger::before,
	.hamburger::after {
		background-color: $white;
		content: "";
		display: block;
		height: 3px;
		position: absolute;
		width: $spacing--l;
	}

	.hamburger {
		top: auto;
		right: auto;
		bottom: auto;
		margin: auto;

		&::before {
			top: -$spacing--s;
		}

		&::after {
			bottom: -$spacing--s;
		}
	}

	&.activated {

		.hamburger {
			background-color: transparent;

			&::before {
				top: 0;
				transform: rotate(45deg);
			}

			&::after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
}
