// Menu component.

.menu {
	margin: 0;
	list-style-type: none;

	@include mq(m) {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		border: 0;
	}

	// Menu item.
	&-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@include margin(null auto);

		@include mq(m) {
			display: block;
			margin: 0 $spacing--s 0 0;
		}

		&.button {
			padding: 0;

			@include mq(m) {
				margin-left: $spacing--m;
			}
		}
	}

	// Link
	a {
		width: 100%;
		margin-bottom: $spacing--s;
		padding: $spacing--xs $spacing--s * $golden;
		border: 1px solid transparent;
		color: $color--white;
		text-decoration: none;

		@include mq(m) {
			display: block;
			width: auto;
			margin-bottom: 0;
		}
	}

	a:hover,
	a:focus,
	.current-menu-item > a {
		border-color: $color--white;
		color: $color--white;
	}
}
