// Menu toggle component.

.menu-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: transparent;
	order: 1;

	@include media-breakpoint-up(md) {
		display: none;
	}

	@include hover-focus {
		background-color: transparent;
	}

	&:focus {
		outline: $border;
	}

	.hamburger,
	.hamburger::before,
	.hamburger::after {
		display: block;
		position: absolute;
		width: $spacing--m;
		height: 3px;
		background-color: $white;
		content: "";
	}

	.hamburger {
		top: auto;
		right: auto;
		bottom: auto;
		margin: auto;

		&::before {
			top: -$spacing--s;
		}

		&::after {
			bottom: -$spacing--s;
		}
	}

	&.activated {

		.hamburger {
			background-color: transparent;

			&::before {
				top: 0;
				transform: rotate(45deg);
			}

			&::after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
}