////
/// Menu component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.menu {
	margin: 0;
	list-style-type: none;

	@include mq(m) {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		border: 0;
	}

	// Menu item.
	&-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@include margin(null auto);

		@include mq(m) {
			display: block;
			margin: 0 $spacing--s 0 0;
		}

		&.button {
			padding: 0;

			@include mq(m) {
				margin-left: $spacing--m;
			}
		}
	}

	// Link
	a {
		border: 1px solid transparent;
		color: $color--white;
		text-decoration: none;

		@include mq(m) {
			display: block;
			padding: $spacing--xs $spacing--s * $golden;
		}
	}

	a:hover,
	a:focus,
	.current-menu-item > a {
		border-color: $color--white;
		color: $color--white;
	}
}
