////
/// Nav Primary component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.nav-primary {
	display: none;
	width: 100vw;
	margin: 0 -5vw;
	padding: $spacing--m 5vw;
	background-color: $color--black;
	font-size: $font-size--h3;
	order: 2;

	@include mq(m) {
		display: flex !important;
		position: relative;
		top: auto;
		width: auto;
		margin: 0 0 0 auto;
		padding: 0;
		background: 0;
		font-size: $base--font-size;
	}

	.search-lg {
		display: none;

		@include mq(m) {
			display: inline-block;
		}
	}

	.search-m {
		display: block;

		@include mq(m) {
			display: none;
		}
	}
}
