// Nav Secondary component.

.nav-secondary {

	.menu {

		@include mq(m) {
			justify-content: flex-start;
		}

		// Link
		a {
			margin: 0;
			padding: 0;
			color: $color--text;
			text-decoration: underline;

			@include mq(m) {
				margin-bottom: $spacing--s;
				padding: $spacing--xs $spacing--s * $golden;
			}
		}

		a:hover,
		a:focus,
		.current-menu-item > a {
			color: $color--primary;
		}
	}
}
