// Nav Primary component.

.nav-primary {
	display: none;

	@include media-breakpoint-up(md) {
		display: flex !important;
	}

	.menu-item {

		@include media-breakpoint-up(md) {
			margin-right: $spacing--s;
		}
	}

	a {
		border: 1px solid transparent;
	}

	a:hover,
	a:focus,
	.active {
		border-color: $white;
	}
}
