////
/// Nav Secondary component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.nav-secondary {

	.menu {

		@include mq(m) {
			justify-content: flex-start;
		}

		// Link
		a {
			color: $color--text;
			text-decoration: underline;
		}

		a:hover,
		a:focus,
		.current-menu-item > a {
			color: $color--primary;
		}
	}
}
