// Pagination component.

.pagination {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	li {
		margin-right: $spacing--s;
		margin-bottom: $spacing--s;

		a,
		.page-numbers,
		span {
			display: inline-block;
			padding: $spacing--s $spacing--m;
			border: 1px solid $gray-800;
			color: $gray-800;
			text-decoration: none;

			@include hover-focus {
				border-color: $black;
				color: $white;
				background-color: $black;
				text-decoration: none;
			}
		}
	}

	// Active item.
	.active {

		a {
			border-color: $black;
			color: $white;
			background-color: $black;
			text-decoration-line: none;
		}
	}

	// Active item for Artists Archive.
	.current.page-numbers {
		padding: $spacing--s $spacing--m;
		border: 1px solid $black;
		color: $white;
		background-color: $black;
		text-decoration-line: none;
	}

	// Previous item.
	&-previous {
		display: block;
		width: 100%;
		margin-bottom: $spacing--s;

		@include mq(m) {
			display: inline-block;
			width: auto;
			margin-bottom: 0;
		}

		a {
			display: block;
			width: 100%;

			@include mq(m) {
				width: auto;
			}
		}
	}

	// Next item.
	&-next {
		display: block;
		width: 100%;
		margin-top: $spacing--s;
		text-align: right;

		@include mq(m) {
			display: inline-block;
			width: auto;
			margin-top: 0;
		}

		a {
			display: block;
			width: 100%;

			@include mq(m) {
				width: auto;
			}
		}
	}
}