////
/// Avatar component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.admin-only {
	position: relative;
	z-index: 99999;
	padding: $spacing--s 0;
	color: $color--white;
	background-color: $color--dark;

	a {
		color: $color--white;

		@include hover-focus() {
			border-bottom: 1px dotted $color--white;
			text-decoration: none;
		}
	}

	.wrap {
		justify-content: flex-start;
		
		@include mq(m) {
			justify-content: space-between;
		}
	}

	&-sep {
		display: block;
		margin-right: $spacing--m;

		@include mq(m) {
			display: inline-block;
		}
	}

}
