////
/// Avatar component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.post-meta {
	background-color: $color--black;
	color: $color--white;
	padding: $spacing--s 0;
	border-top: 1px dotted $color--secondary;
	position: relative;
	z-index: 99999;

	

	a {
		color: $color--white;

		@include hover-focus() {
			border-bottom: 1px dotted $color--white;
			text-decoration: none;
		}
	}

}
