// Avatar component.

.post-meta {
	position: relative;
	z-index: 99999;
	padding: $spacing--s 0;
	border-top: 1px dotted $secondary;
	color: $white;
	background-color: $black;

	a {
		color: $white;

		@include hover-focus() {
			border-bottom: 1px dotted $white;
			text-decoration: none;
		}
	}

}