// Algolia

.aa-dropdown-menu {
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) !important;

	.autocomplete-header {
		border-top: 1px solid $gray-300;
		border-bottom: 0 !important;
	}

	.aa-dataset-1 {

		.autocomplete-header {
			border-top: 0;
		}
	}

	a.suggestion-link {
		line-height: 32px;
	}
}

.ais-SearchBox {

	&-submit {
		position: absolute;
		z-index: 1;
		top: 40%;
		left: 1.5rem;
		width: 20px;
		height: 20px;
		padding: 0;
		border: 0;
		color: $dark;
		background-color: transparent;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:hover,
		&:focus,
		&:active {
			background-color: $dark;
			background-color: transparent;
		}
	}

}