////
/// Sidebar component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.sidebar {

	@include margin($spacing--l null);

	@include mq(m) {

		@include margin($spacing--xl null);
	}

	.content-sidebar &,
	.sidebar-content & {

		@include mq(m) {
			width: $layout--width--sidebar;
		}
	}

	.single-post.content-sidebar &,
	.single-post.sidebar-content & {
		@include mq(m) {
			width: $layout--width--post--sidebar;
		}
	}

	.no-gallery.single-post.content-sidebar &,
	.no-gallery.single-post.sidebar-content & {
		width: 0;
		
		@include mq(m) {
			width: 0px;
		}
	}

	.full-width-content & {
	}

	.search-results &,
	.search-no-results & {
		margin-top: $spacing--m;
	}
}
