// Sidebar component.

.sidebar {

	@include margin($spacing--l null);

	@include mq(m) {

		@include margin($spacing--xl null);
	}

	.content-sidebar &,
	.sidebar-content & {
		width: 100%;

		@include mq(m) {
			width: $layout--width--sidebar;
		}
	}

	.single-post.content-sidebar &,
	.single-post.sidebar-content & {
		width: 100%;

		@include margin($spacing--xxs null);

		@include mq(m) {
			width: $layout--width--post--sidebar;

			@include margin($spacing--xl null);
		}
	}

	.no-gallery.single-post.content-sidebar &,
	.no-gallery.single-post.sidebar-content & {
		width: 0;

		@include mq(m) {
			width: 0;
		}
	}

	.full-width-content & {
	}

	.search & {
		margin-top: $spacing--m;
	}
}
