////
/// Avatar component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.slider-gallery {

	li {
		position: relative;
		list-style-type: none;
	}
	
	img {
		box-shadow: 0;
		border: 1px solid $color--border;
	}

	button,
	.button {
		position: absolute;
		left: 0;
		bottom: 0;
		padding-right: $spacing--s;
		padding-left: $spacing--s;

		@include mq(m) {
			padding-right: $gutter;
			padding-left: $gutter;
		}
	}

	.label-download {
		display: none;

		@include mq(m) {
			display: inline-block;
		}
	}

}

.slider-thumbnails {

	.slick-slide {
		display: inline-block;
		float: none;
		width: auto !important;
		opacity: 0.75;

		&.slick-current,
		&:hover {
			opacity: 1;
		}
	}

	.slick-track {
		width: 100% !important;
	}

	li {
		display: block;
		position: relative;
		width: 100%;
		margin-right: $spacing--s;
		margin-bottom: $spacing--s;
		text-align: left;
		list-style-type: none;

		@include mq(m) {
			margin-right: 0;
		}
	}

	img {
		max-width: 100px;
		border: 1px solid $color--border;
		box-shadow: $base--box-shadow;
		cursor: pointer;

		@include mq(m) {}

	}

	.label-download {
		display: none;

		@include mq(m) {
			display: inline-block;
		}
	}

}
