.slider-thumbnails-images {

	.slick-slide {
		display: inline-block;
		float: none;
		width: auto !important;
		opacity: 0.75;

		@include media-breakpoint-up(md) {
			display: block;
		}

		&.slick-current,
		&:hover {
			opacity: 1;
		}
	}

	.slick-track {
		width: 100% !important;
	}

}
