// Statistics component.

.statistics {
	margin-bottom: $spacing--l;
	margin-top: $spacing--xl;

	@include mq(m) {
		margin-bottom: 0;
	}

	.one-half.first {
		margin-bottom: $spacing--m;

		@include mq(m) {
			margin-bottom: 0;
		}
	}
}
