// Sticky header component.

.sticky {

	&.post-meta {
		position: relative;

		@include transition;

		@include mq(m) {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
		}

		.admin-bar & {

			@include mq(m) {
				top: 32px;
			}
		}

	}

	&.admin-only {
		position: relative;

		@include transition;

		@include mq(m) {
			position: fixed;
			top: 45px;
			right: 0;
			left: 0;
		}

		.admin-bar & {

			@include mq(m) {
				top: 77px;
			}
		}

	}

}
