////
/// Sticky header component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.sticky-header {

	.site-header {
		position: fixed;

		@include transition;

		&.sticky {
			border-bottom: $base--border;
			background-color: $color--white;
		}
	}

	.hero-section {

		.wrap {
			margin-top: $spacing--xxl;
		}
	}
}
