////
/// Sticky header component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.sticky {

	&.post-meta {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;

		@include transition;

		.admin-bar & {
			top: 32px;
		}

	}

	&.admin-only {
		position: fixed;
		top: 45px;
		right: 0;
		left: 0;

		@include transition;

		.admin-bar & {
			top: 77px;
		}

	}

}
