// Subscribe

/* stylelint-disable-next-line selector-id-pattern */
#gform_4 {
	display: flex;
	align-items: center;
	flex-direction: column;

	@include media-breakpoint-up(md) {
		flex-direction: row;
	}

	.gform-body {
		flex: 1;
		width: 100%;
	}

	ul li.gfield,
	.top_label div.ginput_container {
		margin: 0 !important;
	}

	.gform_footer {
		padding: 0 !important;

		@include media-breakpoint-up(md) {
			margin: 0 !important;
			width: auto !important;
		}
	}
}
