////
/// Title area component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.title-area {
	line-height: $line-height--heading;

	@include padding($spacing--m null);
}

// Site title.
.site-title {
	margin: 0;
	font-size: $font-size--h2;
	font-weight: $font-weight--regular;

	.wp-custom-logo & {

		@include hide-visually;
	}

	a {
		color: $color--white;
		text-decoration: none;

		@include hover-focus {
			color: $color--white;
			text-decoration: underline;
		}
	}
}

// Site description.
.site-description {
	margin: 0;
	color: $color--secondary;
	font-family: $font-family--alt;
	font-size: small;
	font-style: italic;
	letter-spacing: 1px;

	.wp-custom-logo & {

		@include hide-visually;
	}
}

// Custom logo.
.custom-logo {
	width: auto;

	&-link {
		display: flex;
		align-items: center;
	}
}
