// Wrap component.

.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	max-width: $layout--width;

	@include margin(null auto);

	// Sub wrap.
	.wrap {
		width: 100%;
		max-width: 100%;
	}

	// Stacking wraps.
	+ .wrap {
		margin-top: $spacing--l;
	}
}
