////
/// Wrap component.
///
/// @group  Components
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	max-width: $layout--width;

	@include margin(null auto);

	// Sub wrap.
	.wrap {
		width: 100%;
		max-width: 100%;
	}
}
