// Typography.

a {
	color: $body-color;
	text-decoration: underline;

	.report &,
	.admin-only &,
	.post-meta & {
		text-decoration: none;
	}

	@include transition();

	@include hover-focus {
		color: $primary;
		text-decoration: underline;
	}
}