////
/// Media.
///
/// @group  Base
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

embed,
iframe,
object,
video,
.wp-caption {
	width: 100%;
	max-width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

figure {
	margin: 0;
}

iframe {
	border: 0;
}
