////
/// Accessibility classes.
///
/// @group  Utilities
/// @author Clayton Collie <info@rosenfieldcollection.com>
/// @link   https://github.com/claytoncollie/rosenfield-collection-theme-2020
////

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {

	@include hide-visually;

	&:active,
	&:focus {

		@include hide-visually(unhide);

		position: absolute;
		padding: $spacing--s;
		margin: $spacing--s;
		color: $color--black;
		background-color: $color--white;
		text-decoration: none;
		z-index: 99999999;
	}
}

.more-link {
	position: relative;
}

.genesis-skip-link {
	margin: 0;

	li {
		width: 0;
		height: 0;
		list-style: none;
	}
}

:focus {
	outline: $base--border;
}
