// Border

.border-dotted {
	border-style: dotted;
}

.border-dotted-top {
	border-top-style: dotted;
}

.border-dotted-bottom {
	border-bottom-style: dotted;
}

.border-dotted-start {
	border-left-style: dotted;
}

.border-dotted-end {
	border-right-style: dotted;
}